.split {
    flex: 1;
    /* padding: .5em; */
    width:50vw;
    height:100vh;
    /* min-height: max-content; */
    
  }
  .white {
    background-color: white;
  color: black;
  }
  .black {
    color: azure;
    background-color: black;
      
}
.pink{
  background-color: pink;
}
