

.split {
    flex: 1;
    /* padding: .5em; */
  }
  .white {
    /* border: 2px solid black; */
    /* box-shadow: 2px grey; */
    background-color: white;
  color: black;
  
  }
  .black {
    border: 2px solid white;
    color: azure;
    background-color: black;
      
}

@media only screen and (max-width: 760px) {
  .black {
    border: none;
    color: azure;
    background-color: black;
      
}
.split{
  flex: auto;
}
}