.split {
    flex: 1;
    padding: .5em;
  }
  .white {
    background-color: white;
  color: black;
  }
  .black {
    color: azure;
    background-color: black;
      
}
.pink{
  background-color: pink;
}