.AboutPage{
    height:auto;
    width: 100%;
    background-color: black;
    /* position: fixed; */
    /* opacity: 0 */
    display: flex;

}
.img-cont{
    height:100%;
    width:100%;
  
    margin:auto;
    
    display:flex;
   justify-content: center; 
    align-items: center; 
}
.about-img{
    margin:auto;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height:600px;
}
.about-text-container{

    margin-top:150px;
    display:flex;
    justify-content: left; 
     align-items: center; 
     flex-direction: column;
height:auto;
width:95%;

overflow-y: auto;
}
.about-text{
    /* display: block; */
   margin-bottom:50px;
    margin: auto;
font-size: 1.2em;
}