


.header-nav{
  
width:100%;
 
  font-size: 1.5em;
  font-weight: bold;
  
  margin: auto;
}
div.left{

  float:left;
  width:50vw;
  height:80px;
  background-color: black;
}
div .right{
  height:80px;
  float:right;
  width:50vw;
  background-color: white;
}
#q-icon {
  position:fixed;

top:10px;
left:10px;
color:white;
background-color: white;
height:100px;
width:100px;
border-radius: 50px;
z-index: 3;
}
#q-icon:hover{
  background-color: rgb(128, 66, 230);
}

#about-link{
  margin-left: 25px;
 text-decoration: none;
  color: black;
  border-bottom: .9px solid black;
  position: relative;
  top:25px;

}
#work-link{
  float: right;
  text-decoration: none;
  position: relative;
  top:25px;
  margin-right: 25px;
color:white;
border-bottom: .9px solid white;
}
#about-link:hover {
  color:rgb(209, 209, 2);
  border-bottom: .9px solid  rgb(231, 231, 5);
 }


 #work-link:hover{
  
  color:rgb(231, 231, 5);
  border-bottom: .9px solid  rgb(231, 231, 5);
}




@media only screen and (max-width: 768px) {
  .header-nav{
  
    width:100%;
     
      font-size: 1.2em;
      font-weight: bold;
      
      margin: auto;
      height:60px;
    }


#work-link{
  height:auto;
  font-size: .7em;
  margin: auto;

  padding-right:20px;
  border-right:.9px solid white;
  border-bottom: none;
}
#about-link{
  margin: auto;
  color:white;
  border-right:.9px solid white;
  font-size: .7em;
  border-bottom: none;
  padding-right:20px;
}
  #q-icon{
   height:50px;
   width:50px;
   border-radius: 25px;
  }

  div.left{

    float:left;
    width:50%;
    height:65px;
    background-color: black;
  }
  div .right{
    height:65px;
    float:right;
    width:50%;
    background-color: black;
  }
}