.side-nav{

  
    writing-mode: vertical-rl;

    
    background-color: black;
  margin: auto;
    font-size: 1.3em;
  font-weight: bold;
  }
  
 

  #cv-link{

    width:fit-content;
    height: auto;
    color:white;
    border-right: .9px solid white;
    text-orientation: upright;
    margin:auto;
    margin-top: 150px;
  text-decoration: none;
  
  }
  #cv-link:hover{
    color:#FFC312;
    border-right: .9px solid  #FFC312;
  }
  
  #misc-link{
    width:fit-content;
    height: auto;
    color:white;
    border-right: .9px solid white;
    text-orientation: upright;
    margin:auto;
    margin-top: 150px;
  text-decoration: none;
  
  }
  #misc-link:hover{
    color:#FFC312;
    border-right: .9px solid  #FFC312;
  }

  @media only screen and (max-width: 768px) {

    .side-nav{

  
      display: none;
      
      writing-mode: horizontal-tb;
      
      
      background-color: black;
      margin: auto;
      font-size: 1.3em;
      font-weight: bold;
    }

    
  }