.App__Main{
    /* min-height: calc(100vh - 60px); */
    min-height:100vh;
    height:auto;
    width: 100%;
    display: flex;
    overflow: auto;
}
.App{
    min-height:100vh;
    width:100vw;
    /* height:auto;
    width: 100%;  */
}
header{
    height:60px;
    width:100%;
    position: fixed;
    z-index: 2;  
    border-bottom: 3px solid pink;
}


